   {% extends "base.html" %}
   {% block title %} Game {% endblock %}
   {% block content %}


   <script>
     function disableBtn(){
       document.getElementById("PlaceBetButton").disabled = true;
     }
   </script>

    <table>
        <tr>
            <th>Name</th>
            <th>Bet</th>
            <th>Hand</th>
            <th>Total</th>
        </tr>
         <tr>

             <td>Dealer</td>
             <td></td>
             <td><p id="dealerTwo"></p>
                <script>
                    function dealerTwo() {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function () {
                            if(this.readyState === 4 && this.status === 200){
                                var txt = this.responseText;
                                document.getElementById('dealerTwo').innerText = txt;
                            }
                        };
                        xhttp.open("GET", '/startingHand/{{dealer.id}}', true);
                        xhttp.send();
                    }
                </script>
             </td>
             <td></td>
        </tr>
        {% for i in lst %}

        <tr>

<!--------- username--------------------------
  -->
        <td>{{ i.username }}</td>


<!--------- place bet button----------------------
  -->

        <td>
        <form action="/startingHand/{{i.id}}" method="get">
        <input type="number" name="bet" min="1" max={{ i.balance }}>
        <input type="button" onclick="getTwo(); disableBtn(); dealerTwo();" value="Place Bet" id="PlaceBetButton"></button>
        </form>
        </td>



<!--------- showing starting hand-----------------------
  -->

        <td>
          <p id="getTwo"></p>
          <script>
              function getTwo() {
                  var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function () {
                      if(this.readyState === 4 && this.status === 200){
                        var txt = this.responseText;
                        document.getElementById('getTwo').innerText = txt;
                      }
                  };
                  xhttp.open("GET", '/startingHand/{{i.id}}', true);
                  xhttp.send();
              }
          </script>
        </td>

<!--------- showing total value of starting hand----------------
  -->

        <td>
        </td>



<!--------- taking one more card-------------------------
  -->
        <td>
          <button onclick="hit();">Hit</button> <p id="hit"></p>
        </td>
          <script>
              function hit() {
                  var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function () {
                      if(this.readyState === 4 && this.status === 200){
                          var txt = this.responseText;
                          document.getElementById('hit').innerText = txt;
                      }
                  };
                  xhttp.open("GET", '/getCard', true);
                  xhttp.send();
              }
          </script>






        <td><a href="/stand/{{i.id}}">Stand</a></td>
        <td><a href="/stand/{{i.id}}">Double</a></td>
        <td><a href="/stand/{{i.id}}">Split</a></td>
        <td>Bet Timer</td>
        </tr>

        {% endfor %}

    </table>

   {% endblock %}
