   {% extends "base.html" %}
   {% block title %}Read{% endblock %}
   {% block content %}
    <body>
        <h1>Table is here</h1>
        <img src = "/static/BlackJackTable.jpg">
        <table>
        <tr>
            <th>Name</th>
            <th>Hand</th>
            <th>count</th>
        </tr>


        {% for player in table %}
        <tr>
        <td>{{player.}}</td>
        <td>{{mountain.height}}</td>
        <td>{{mountain.town}}</td>
        <td><a href="/update/{{mountain.id}}">Update</a></td>
        <td><a href="/delete/{{mountain.id}}">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
    </body>


    {% endblock %}